LD3 Web App/Connected Services/ServiceReference1/StringWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Edit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EditSoapIn">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="EditSoapOut">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:portType name="StringWebServiceSoap">
    <wsdl:operation name="Edit">
      <wsdl:input message="tns:EditSoapIn" />
      <wsdl:output message="tns:EditSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StringWebServiceSoap" type="tns:StringWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StringWebServiceSoap12" type="tns:StringWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Edit">
      <soap12:operation soapAction="http://tempuri.org/Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StringWebService">
    <wsdl:port name="StringWebServiceSoap" binding="tns:StringWebServiceSoap">
      <soap:address location="http://localhost:52739/StringWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StringWebServiceSoap12" binding="tns:StringWebServiceSoap12">
      <soap12:address location="http://localhost:52739/StringWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>